@tailwind base;
@tailwind components;
@tailwind utilities;

.buttonDarkStyle {
    @apply bg-green-200 text-black
}

@keyframes animate {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0.3;
    }
    60% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

.animate-in-opacity {
    transition: animate ease-in-out linear;
}